#contentContainer {
  height: 750px;
  width: 1000px;
  border: 15px #ededed solid;
  overflow: hidden;
  background-image: url(../images/Map.jpg);
  /* cursor: pointer; */
  background-size: cover;
}

#character {
  width: 100px;
  height: 100px;

  transform: translate3D(50px, 50px, 0);
  transition: transform 0.9s ease-in;
}

#building1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 336px;
  cursor: pointer;
}
#building2 {
  width: 162px;
  height: 146px;
  position: absolute;
  top: 397px;
  left: 332px;
  cursor: pointer;
}
#building3 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 341px;
  left: 478px;
  cursor: pointer;
}
#building4 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 298px;
  left: 586px;
  cursor: pointer;
}
#building5 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 249px;
  left: 702px;
  cursor: pointer;
}
#building6 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 321px;
  left: 816px;
  cursor: pointer;
}
#building7 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 397px;
  left: 905px;
  cursor: pointer;
}
#building8 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 524px;
  left: 512px;
  cursor: pointer;
}

.img_size {
  height: 110px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #113866;
  opacity: 82%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  height: 35vh;
  top: 11vh;
  right: 3vw;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.about_popup {
  width: 15vw;
  height: 27vh;
  position: relative;
  left: 23vw;
  color: white;
}

.main-content p,
.main-contentstd p {
  color: white;
}
.main-content a,
.main-contentstd a {
  color: white;
}
