#contentContainer {
  height: 750px;
  width: 1000px;
  border: 15px #ededed solid;
  overflow: hidden;
  background-image: url(../images/map.png);
  background-size: cover;
  position: relative;
  left: 7%;
}

#container_responsive {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: 0;
  margin-left: 0;
}

#character {
  width: 100px;
  height: 100px;
  transform: translate3D(50px, 50px, 0);
  transition: transform 0.9s ease-in;
}
#character1 {
  position: absolute;
  width: 100px;
  height: 100px;
}
#character2 {
  position: absolute;
  width: 100px;
  height: 100px;
  display: none;
}
#character3 {
  position: absolute;
  width: 100px;
  height: 100px;
  display: none;
}

#Storehouse10 {
  width: 122px;
  height: 133px;
  position: absolute;
  top: 273px;
  cursor: pointer;
  left: 532px;
}
#Storehouse10:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#Boathouse4 {
  width: 162px;
  height: 146px;
  position: absolute;
  top: 385px;
  left: 305px;
  cursor: pointer;
}
#Boathouse4:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#Garden {
  width: 60px;
  height: 39px;
  position: absolute;
  top: 598px;
  left: 399px;
  cursor: pointer;
}
#Garden:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#MastPond {
  width: 90px;
  height: 52px;
  position: absolute;
  top: 498px;
  left: 433px;
  cursor: pointer;
}
#MastPond:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#Statue {
  width: 40px;
  height: 60px;
  position: absolute;
  top: 404px;
  left: 480px;
  cursor: pointer;
}
#Statue:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#CellBlock1 {
  width: 68px;
  height: 67px;
  position: absolute;
  top: 504px;
  left: 263px;
  cursor: pointer;
}
#CellBlock1:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#Boathouse7 {
  width: 103px;
  height: 94px;
  position: absolute;
  top: 440px;
  left: 474px;
  cursor: pointer;
}
#Boathouse7:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}
#Boathouse6 {
  width: 117px;
  height: 105px;
  position: absolute;
  top: 522px;
  left: 468px;
  cursor: pointer;
}
#Boathouse6:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: transform 0.7s ease;
}

.img_size {
  height: 110px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #113866;
  opacity: 82%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 250px;
  top: 11vh;
  right: 3vw;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.main-content p,
.main-contentstd p {
  color: white;
}
.main-content a,
.main-contentstd a {
  color: white;
}
.close_modal {
  cursor: default;
  color: white;
  margin: auto;
  padding-bottom: 4%;
}
.interactive_links {
  height: 3vh;
}
.info_container {
  display: flex;
  height: 160px;
  font-weight: bold;
  font-size: medium;
  padding-top: 10px;
}
.about_popup {
  margin-left: auto;
}
.about_popup2 {
  margin-left: auto;
  overflow-y: scroll;
  width: 50%;
  height: 50%;
  color: white;
  cursor: default;
}
p.about_popup {
  width: 63%;
  height: 50%;
  font-size: small;
  overflow: scroll;
  overflow-x: hidden;
}
#character_selection {
  float: right;
  padding-left: 1%;
  height: 500px;
  width: 275px;
  text-align: center;
  background-color: #113866;
  opacity: 82%;
  color: white;
  position: relative;
  border-radius: 36px;
}
#character_selection_mobile_small {
  width: 700px;
  text-align: center;
  background-color: #113866;
  opacity: 82%;
  color: white;
  position: relative;
  margin-left: 0%;
  display: block;
  border-radius: 10px;
  margin-top: 1%;
  display: none;
}
#character_list {
  float: left;
  padding-top: 8%;
}
.img_select {
  height: 90px;
  margin-left: 0;
}

#select1 {
  border-style: solid;
  border-radius: 25px;
  width: 250px;
  margin-bottom: 10%;
  cursor: pointer;
}
#select1:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#select2 {
  border-style: solid;
  border-radius: 25px;
  width: 250px;
  margin-bottom: 10%;
  cursor: pointer;
}
#select2:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#select3 {
  border-style: solid;
  border-radius: 25px;
  width: 250px;
  margin-bottom: 10%;
  cursor: pointer;
}
#select3:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#title_select {
  padding-top: 10%;
  cursor: default;
  font-weight: bold;
  font-size: large;
}

.modal_title {
  color: white;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
#tool_links {
  flex-direction: column;
  display: flex;
}

#character_selection_mobile {
  width: 750px;
  text-align: center;
  background-color: #113866;
  opacity: 82%;
  color: white;
  position: relative;
  margin-left: 1.5%;
  display: none;
}

div#info {
  position: relative;
  left: 15%;
}

@media (max-width: 1024px) {
  #contentContainer {
    height: 750px;
    width: 900px;
    border: 15px #ededed solid;
    overflow: hidden;
    background-image: url(../images/map.png);
    background-size: cover;
  }

  #character_selection {
    width: 750px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 1.5%;
    display: none;
  }

  #character_selection_mobile {
    width: 900px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: block;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    left: 7%;
  }
  #title_select_mobile {
    padding-top: 2%;
    cursor: default;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  #character_list_mobile {
    padding-top: 2%;
    display: flex;
    margin-left: 75px;
  }
  #select1_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }
  #select2_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }
  #select3_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }
  .main-contentstd img {
    clear: right;
    margin-left: 2em;
    margin-bottom: 2em;
    max-width: 100%;
  }
  div#info {
    position: relative;
    left: 6%;
  }
}

@media (max-width: 768px) {
  #contentContainer {
    height: 750px;
    width: 700px;
    border: 15px #ededed solid;
    overflow: hidden;
    background-image: url(../images/map.png);
    background-size: cover;
    position: relative;
    left: 0;
  }
  #character_selection {
    width: 750px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 1.5%;
    display: none;
  }

  #character_selection_mobile {
    width: 700px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: block;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    left: 0;
  }
  #title_select_mobile {
    padding-top: 2%;
    cursor: default;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  #character_list_mobile {
    padding-top: 2%;
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 0;
  }
  #select1_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }
  #select2_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }
  #select3_mobile {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
  }

  div#info {
    position: initial;
    left: 15%;
  }
}

@media (max-width: 425px) {
  #contentContainer {
    height: 322px;
    width: 400px;
    border: 15px #ededed solid;
    overflow: hidden;
    background-image: url(../images/map_mobile.png);
    background-size: cover;
    position: relative;
    left: 0;
  }
  #Storehouse10 {
    width: 93px;
    height: 93px;
    position: absolute;
    top: 44px;
    cursor: pointer;
    left: 172px;
  }
  #Storehouse10:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse4 {
    width: 111px;
    height: 101px;
    position: absolute;
    top: 122px;
    left: 19px;
    cursor: pointer;
  }
  #Boathouse4:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Garden {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 263px;
    left: 82px;
    cursor: pointer;
  }
  #Garden:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #MastPond {
    width: 56px;
    height: 42px;
    position: absolute;
    top: 196px;
    left: 108px;
    cursor: pointer;
  }
  #MastPond:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Statue {
    width: 30px;
    height: 46px;
    position: absolute;
    top: 131px;
    left: 137px;
    cursor: pointer;
  }
  #Statue:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #CellBlock1 {
    width: 51px;
    height: 42px;
    position: absolute;
    top: 206px;
    left: -13px;
    cursor: pointer;
  }
  #CellBlock1:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse7 {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 157px;
    left: 131px;
    cursor: pointer;
  }
  #Boathouse7:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse6 {
    width: 82px;
    height: 63px;
    position: absolute;
    top: 222px;
    left: 126px;
    cursor: pointer;
  }
  #Boathouse6:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }

  #character_selection_mobile {
    width: 700px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: none;
    border-radius: 10px;
    margin-top: 1%;
    display: none;
  }
  #character1 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character2 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character3 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  .modal-content {
    background-color: #113866;
    opacity: 82%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 250px;
    top: 11vh;
    right: 1vw;
  }
  #character_selection_mobile_small {
    width: 400px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: block;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    left: 0;
  }
  #title_select_mobile_small {
    padding-top: 2%;
    cursor: default;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  #character_list_mobile_small {
    padding-top: 2%;
    display: flex;
  }
  #select1_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select2_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select3_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
}

@media (max-width: 375px) {
  #contentContainer {
    height: 322px;
    width: 350px;
    border: 15px #ededed solid;
    overflow: hidden;
    background-image: url(../images/map_mobile.png);
    background-size: cover;
    position: relative;
    left: 0;
  }
  #Storehouse10 {
    width: 93px;
    height: 93px;
    position: absolute;
    top: 44px;
    cursor: pointer;
    left: 172px;
  }
  #Storehouse10:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse4 {
    width: 111px;
    height: 101px;
    position: absolute;
    top: 122px;
    left: 19px;
    cursor: pointer;
  }
  #Boathouse4:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Garden {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 263px;
    left: 82px;
    cursor: pointer;
  }
  #Garden:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #MastPond {
    width: 56px;
    height: 42px;
    position: absolute;
    top: 196px;
    left: 108px;
    cursor: pointer;
  }
  #MastPond:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Statue {
    width: 30px;
    height: 46px;
    position: absolute;
    top: 131px;
    left: 137px;
    cursor: pointer;
  }
  #Statue:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #CellBlock1 {
    width: 51px;
    height: 42px;
    position: absolute;
    top: 206px;
    left: -13px;
    cursor: pointer;
  }
  #CellBlock1:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse7 {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 157px;
    left: 131px;
    cursor: pointer;
  }
  #Boathouse7:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse6 {
    width: 82px;
    height: 63px;
    position: absolute;
    top: 222px;
    left: 126px;
    cursor: pointer;
  }
  #Boathouse6:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }

  #character_selection_mobile {
    width: 349px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: none;
    border-radius: 10px;
    margin-top: 1%;
    display: none;
  }
  #character1 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character2 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character3 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  .modal-content {
    background-color: #113866;
    opacity: 82%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 250px;
    top: 11vh;
    right: 1vw;
  }
  #character_selection_mobile_small {
    width: 350px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: block;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    left: 0;
  }
  #title_select_mobile_small {
    padding-top: 2%;
    cursor: default;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  #character_list_mobile_small {
    padding-top: 2%;
    display: flex;
  }
  #select1_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select2_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select3_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
}

@media (max-width: 320px) {
  #contentContainer {
    height: 300px;
    width: 300px;
    border: 15px #ededed solid;
    overflow: hidden;
    background-image: url(../images/map_mobile_small.png);
    background-size: cover;
    position: relative;
    left: 0;
  }
  #character_selection_mobile {
    width: 250px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    display: none;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 10%;
  }
  #Storehouse10 {
    width: 93px;
    height: 93px;
    position: absolute;
    top: 34px;
    cursor: pointer;
    left: 150px;
  }
  #Storehouse10:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse4 {
    width: 111px;
    height: 101px;
    position: absolute;
    top: 105px;
    left: 6px;
    cursor: pointer;
  }
  #Boathouse4:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Garden {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 240px;
    left: 68px;
    cursor: pointer;
  }
  #Garden:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #MastPond {
    width: 56px;
    height: 42px;
    position: absolute;
    top: 178px;
    left: 95px;
    cursor: pointer;
  }
  #MastPond:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Statue {
    width: 30px;
    height: 46px;
    position: absolute;
    top: 118px;
    left: 121px;
    cursor: pointer;
  }
  #Statue:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #CellBlock1 {
    width: 51px;
    height: 42px;
    position: absolute;
    top: 187px;
    left: -21px;
    cursor: pointer;
  }
  #CellBlock1:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse7 {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 137px;
    left: 113px;
    cursor: pointer;
  }
  #Boathouse7:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #Boathouse6 {
    width: 82px;
    height: 63px;
    position: absolute;
    top: 197px;
    left: 106px;
    cursor: pointer;
  }
  #Boathouse6:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform 0.7s ease;
  }
  #character_selection_mobile_small {
    width: 300px;
    text-align: center;
    background-color: #113866;
    opacity: 82%;
    color: white;
    position: relative;
    margin-left: 0%;
    display: block;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    left: 0;
  }
  #character1 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character2 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  #character3 {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  .modal-content {
    background-color: #113866;
    opacity: 82%;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 250px;
    top: 11vh;
    right: 1vw;
  }
  #title_select_mobile_small {
    padding-top: 2%;
    cursor: default;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  #character_list_mobile_small {
    padding-top: 2%;
    display: flex;
  }
  #select1_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select2_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
  #select3_mobile_small {
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10%;
    cursor: pointer;
    padding-right: 15%;
  }
}
